<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>

    <div class='card-body'>

        <div class='row'>
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]='listFilter' >
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='filteredProducts && filteredProducts.length'>
                <colgroup>
                <col>
                <col [ngStyle]="{'background': this.sortedBy === 'productName'? 'lightyellow': 'none'}">
                <col [ngStyle]="{'background': this.sortedBy === 'productCode'? 'lightyellow': 'none'}">
                <col [ngStyle]="{'background': this.sortedBy === 'releaseDate'? 'lightyellow': 'none'}">
                <col [ngStyle]="{'background': this.sortedBy === 'price'? 'lightyellow': 'none'}">
                <col [ngStyle]="{'background': this.sortedBy === 'starRating'? 'lightyellow': 'none'}">
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" 
                            (click)='togglePictures()'
                            [style.width.px]='imageWidth + imageMargin*2'>
                                {{showPictures? 'Hide':'Show'}} Image
                            </button>
                        </th>
                        <th (click)="onTitleClick('productName')">
                            Product 
                            <span [ngStyle]="{'visibility': this.sortedBy === 'productName'? 'visible': 'hidden'}">
                                <span [ngClass]="{'fa':true, 'fa-caret-square-o-down':this.sortReverse, 'fa-caret-square-o-up':!this.sortReverse}"></span>
                            </span>
                        </th>
                        <th (click)="onTitleClick('productCode')">
                            Code
                            <span [ngStyle]="{'visibility': this.sortedBy === 'productCode'? 'visible': 'hidden'}">
                                <span [ngClass]="{'fa':true, 'fa-caret-square-o-down':this.sortReverse, 'fa-caret-square-o-up':!this.sortReverse}"></span>
                            </span>
                        </th>
                        <th (click)="onTitleClick('releaseDate')">
                            Available
                            <span [ngStyle]="{'visibility': this.sortedBy === 'releaseDate'? 'visible': 'hidden'}">
                                <span [ngClass]="{'fa':true, 'fa-caret-square-o-down':this.sortReverse, 'fa-caret-square-o-up':!this.sortReverse}"></span>
                            </span>
                        </th>
                        <th (click)="onTitleClick('price')">
                            Price
                            <span [ngStyle]="{'visibility': this.sortedBy === 'price'? 'visible': 'hidden'}">
                                <span [ngClass]="{'fa':true, 'fa-caret-square-o-down':this.sortReverse, 'fa-caret-square-o-up':!this.sortReverse}"></span>
                            </span>
                        </th>
                        <th (click)="onTitleClick('starRating')" style="text-align: left">
                            5 Star Rating
                            <span [ngStyle]="{'visibility': this.sortedBy === 'starRating'? 'visible': 'hidden'}">
                                <span [ngClass]="{'fa':true, 'fa-caret-square-o-down':this.sortReverse, 'fa-caret-square-o-up':!this.sortReverse}"></span>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of filteredProducts'>
                        <td>
                            <img *ngIf='showPictures' 
                            [src]='product.imageUrl' 
                            [alt]='product.productName' 
                            [title]='product.productName'
                            [style.width.px]='imageWidth'
                            [style.margin.px]='imageMargin'>
                        </td>
                        <td >{{ product.productName }}</td>
                        <td>{{ product.productCode }}</td>
                        <td>{{ product.releaseDate.toLocaleDateString("en-US", {month: "long", day: "numeric", year: "numeric"}) }}</td>
                        <td>{{ product.price | currency:'USD'}}</td>
                        <td >
                            <pm-star 
                                [rating]='product.starRating'
                                (ratingClicked)='onRatingClicked($event)'>
                            </pm-star></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>